---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';

import Hero2 from '~/components/widgets/Hero2.astro';

// import Button from '~/components/ui/Button.astro';
// import Image from '~/components/common/Image.astro';

// const appStoreImg = '~/assets/images/app-store.png';
// const appStoreDownloadLink = 'https://github.com/onwidget/astrowind';

// const googlePlayImg = '~/assets/images/google-play.png';
// const googlePlayDownloadLink = 'https://github.com/onwidget/astrowind';

const metadata = {
  title: 'Mobile App Homepage',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      position="left"
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    image={{
      src: 'https://images.unsplash.com/photo-1535303311164-664fc9ec6532?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight">Tap To Attend</span> <br /> Event attendance and payment made easy
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Track attendance and take payments for the events that you organise using just your phone.
      </span>
    </Fragment>

    <div slot="actions" class="flex max-w-sm gap-4">
      <h2 class='leading-tighter tracking-tighter font-heading text-heading text-3xl md:text-4xl'>Coming soon...</h2>

      <!-- <Button variant="link" href={appStoreDownloadLink}>
        <Image src={appStoreImg} alt="App Store Image" width={200} />
      </Button>

      <Button variant="link" href={googlePlayDownloadLink}>
        <Image src={googlePlayImg} alt="Google Play Image" width={200} />
      </Button> -->
    </div>
  </Hero2>

</Layout>
